body {
  width: 10%;
  overflow: hidden;
  background: black;
}

canvas {
  border-radius: 2vw;
  /* height: 56.25%; */
  /* background: black; */
  position: absolute;
  top: 0;
  left: 0;
}

a {
  position: absolute;
  width: 98%;
  top: 48vw;
  text-align: center;
  color: lime;
  font-size: 1.5vw;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

p {
  position: absolute;
  top: 25vw;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  font-family: 'Press Start 2P', cursive;
}

.score {
  position: absolute;
  top: 5vw;
  right: 3%;
  color: lime;
  font-size: 1.5vw;
  font-family: 'Press Start 2P', cursive;
}

.high-scores {
  background-image: radial-gradient(circle, black, darkgreen);
  border-radius: 0.5vw;
  border: .25vw solid;
  border-color: lime green green lime;
  width: 25vw;
  padding: 0.65vw 0.5vw 0.5vw 0.5vw;
}

.round {
  position: absolute;
  top: 5vw;
  left: 3%;
  color: lime;
  font-size: 1.5vw;
  font-family: 'Press Start 2P', cursive;
}
